.form {
    &__group {
        margin-bottom: 3rem;
        position: relative;

        label {
            margin-bottom: 0.5rem;
            font-weight: bold;
            color: var(--primary-color);
        }

        input,
        select {
            display: block;
            border: 1px solid var(--primary-color);
            border-radius: 0.25rem;
            height: 3rem;
            padding: 0.5rem 1rem;
            min-width: 16rem;
        }

        .custom-select {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 0.75rem;
            border-radius: 2px;
            margin-right: 2rem;
            padding-right: 2rem;

            &:focus, &:focus-visible {
                border: 2px solid var(--primary-color);
                outline: none;
            }
        }

        span {
            position: absolute;
            bottom: -1.5rem;
            left: 0;
            color: red;
        }
    }
}