:root {
    // Standard
    --white: #ffffff;
    --black: #333333;
    --grey: #d3d3d3;
    --grey-light: #efefef;
    --grey-dark: #e2e2e2;

    // Main
    --primary-color: #0A2341;
    --secondary-color: #fff1c8;
    --tertiary-color: #82c4b8;
    --quaternary-color: #D5F1EB;
}